

.Square {
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 100px;
  font-weight: 100;
  color: black
}

#game {
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.alert {
  text-align: center;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn {
  text-align: center;
}